<html xmlns:th="http://www.thymeleaf.org">
<body>


	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File1 to upload:</td><td><input type="file" name="file1" /></td></tr>
				<tr><td>File2 to upload:</td><td><input type="file" name="file2" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>

	<div th:if="${message}">
		<table>
			<tr>
				<td>${message.name}</td>
				<td>${message.value}</td>
			</tr>
		</table>
	</div>

</body>
</html>
